
#left-column{
  width:15%;
  padding:30px;
  position: relative;
  z-index: 9999;
  background:rgba(100,100,100,0.4);
  color:#fff;
  opacity:0;
}

#left-column ul li{
  list-style: none;
  margin-bottom: 10px;
}

#mobile-notice {
  position: absolute;
  z-index: 999;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  background:rgba(200,200,200,0.9);
  padding:20px;
  text-align: center;
  width:85%;

  opacity: 1;
  transition: opacity 0.5s ease;
  &.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  a {
    color:rgb(100,100,100);
  }
}


#projects {
  ul{
    &.projects__not__loaded{
      height: 1%;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    transition: all 1.5s ease;
    height:100%;


    li{
      letter-spacing: 2px;
      color:#fff;
      transition: all 0.5s ease;
      font-weight: 100;
      &:hover{
        cursor: pointer;
        letter-spacing: 4px;
        color:rgba(150,150,150,0.8);
        transition: all 0.5s ease;
        font-weight: bold;
      }
    }
  }
}

#right-column{
  width:100%;
}


#load_notice{
  position: absolute;
  z-index:99;
  left:50%;
  top:50%;
  opacity: 0;
  transform:translateX(-50%) translateY(-50%);
  background:rgba(255,255,255,0.6);
  padding:100px;
  transition: all 0.5s ease;

  &.show{
    opacity: 1;
    transition: all 0.5s ease;
  }

  h3{
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}