*{
    margin:0;
    padding:0;
}

#info {
    margin-top:20px;
    border-top:solid 1px #d1d1d1;
    padding-top:10px;
}

#home_canvas {
    position: absolute;
    top:0;
}

a{
    color: rgb(200,180,180);
    text-decoration: none;
    letter-spacing: 0;
    transition:all 0.5s ease;
}

a:hover {
    letter-spacing: 2px;
    transition:all 0.5s ease;
}

@import "type.scss";
@import "viewer.scss";
@import "content.scss";