body {
  font-size: 100%;
  font-family:"apertura",sans-serif ;
  overflow: hidden;
}

.project-item{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  
  &:hover{
    cursor: pointer;
  }
}