#VIEWER {
  iframe {
    position: absolute;
    width:100%;
    top:0;
    min-height:100%;
    border:none;
    transition: all 0.5s ease;

    &.hide {
      opacity:0;
      transition: all 0.5s ease;
    }
  }


}