*{
    margin:0;
    padding:0;
}

#info {
    margin-top:20px;
    border-top:solid 1px #d1d1d1;
    padding-top:10px;
}

#home_canvas {
    position: absolute;
    top:0;
}

a{
    color: rgb(200,180,180);
    text-decoration: none;
    letter-spacing: 0;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

a:hover {
    letter-spacing: 2px;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

body{
    font-size:100%;
    font-family:"apertura",sans-serif ;
    overflow:hidden;
}

.project-item{
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:100;
}

.project-item:hover{
    cursor:pointer;
}
#VIEWER iframe{
    position:absolute;
    width:100%;
    top:0;
    min-height:100%;
    border:none;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#VIEWER iframe.hide{
    opacity:0;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#left-column{
    width:15%;
    padding:30px;
    position:relative;
    z-index:9999;
    background:rgba(100,100,100,0.4);
    color:#fff;
    opacity:0;
}
#left-column ul li{
    list-style:none;
    margin-bottom:10px;
}
#mobile-notice{
    position:absolute;
    z-index:999;
    left:50%;
    top:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
    background:rgba(200,200,200,0.9);
    padding:20px;
    text-align:center;
    width:85%;
    opacity:1;
    -webkit-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
}
#mobile-notice.hide{
    opacity:0;
    -webkit-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
}
#mobile-notice a{
    color:rgb(100,100,100);
}
#projects ul{
    -webkit-transition:all 1.5s ease;
    transition:all 1.5s ease;
    height:100%;
}
#projects ul.projects__not__loaded{
    height:1%;
    overflow:hidden;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#projects ul li{
    letter-spacing:2px;
    color:#fff;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
    font-weight:100;
}
#projects ul li:hover{
    cursor:pointer;
    letter-spacing:4px;
    color:rgba(150,150,150,0.8);
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
    font-weight:bold;
}
#right-column{
    width:100%;
}
#load_notice{
    position:absolute;
    z-index:99;
    left:50%;
    top:50%;
    opacity:0;
    -webkit-transform:translateX(-50%) translateY(-50%);
            transform:translateX(-50%) translateY(-50%);
    background:rgba(255,255,255,0.6);
    padding:100px;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#load_notice.show{
    opacity:1;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#load_notice h3{
    text-transform:uppercase;
    letter-spacing:4px;
}